<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head.ejs %>

    <body>

        <% include ../views/partials/header.ejs %>

            <div id="masthead">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1>eCompetition
          <p class="lead"></p>
        </h1>
                        </div>
                       
                    </div>
                </div>
                <!-- /cont -->
            </div>
            <hr>
            <div class="container">
                ​
                <form class="well form-horizontal" action=" " method="post" id="contact_form">
                    <fieldset>
                        ​
                        <!-- Form Name -->
                        <legend>About us</legend>
                        <h1> What is E-Competition?</h1>
                        <p class="lead">
                            We are providing a platform namely “Online Competition Management” for online competitions which will allow registered users to take part in any competition going on the website. Their work will be judged by the registered voters and judges accordingly. Organizer will create a competition for any category they want. Organizers can post the competitions they are organizing and other people can get to know about the competitions being organized in their country. Mega events will be highlighted on site’s poster area. Non registered users can check and view things as well. Everything will be done online, from record management to the results. 
                        </p>
                        ​
                        <!-- Text input-->
                    </fieldset>
            </div>

            <div class="container" id="footer">
                <div class="row">
                    <div class="col col-sm-12">

                        <h1>Follow Us</h1>
                        <div class="btn-group">
                            <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                            <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                            <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
                        </div>

                    </div>
                </div>
            </div>

            <hr>

            <hr>

            <% include ../views/partials/footer.ejs %>

    </body>

</html>