<!DOCTYPE html>
<html lang="en">
	
  <% include ../views/partials/head.ejs %>
  
	<body>
    
 <% include ../views/partials/header.ejs %>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>eCompetition
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/participants-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=participant.name %></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Professional Designer</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="#" class="text-muted"></a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
           
           <div class="container">
           <div class="row">
               <div class="col-sm-6 col-xs-12 col-md-4">
                   <a class="story-title" href="#"><img alt="" src="https://static.wixstatic.com/media/9c608a_809a198e76884acfadea5a58a862235b.jpg/v1/fill/w_661,h_441,al_c,q_90,usm_0.66_1.00_0.01/9c608a_809a198e76884acfadea5a58a862235b.jpg" style="width:300px;height:300px;padding-top:5px;" class="img-rounded"></a>
                   
               </div>
               <div class="col-sm-6 col-xs-12 col-md-4" >
                   <a class="story-title" href="#"><img alt="" src="https://static.wixstatic.com/media/9c608a_660d65ca2daf419c8c8b7827e3bb005d.jpg/v1/fill/w_294,h_441,al_c,q_90,usm_0.66_1.00_0.01/9c608a_660d65ca2daf419c8c8b7827e3bb005d.jpg" style="width:300px;height:300;padding-top:5px;" class="img-rounded"></a>
               </div>
               <div class="col-sm-6 col-xs-12 col-md-4" >
                   <a class="story-title" href="#"><img alt="" src="https://static.wixstatic.com/media/9c608a_c5ce45b353a44540a333910d001888d3.jpg/v1/fill/w_661,h_441,al_c,q_90,usm_0.66_1.00_0.01/9c608a_c5ce45b353a44540a333910d001888d3.jpg" style="width:300px;height:300px;padding-top:5px;" class="img-rounded"></a>
               </div>
           </div>
           </div>
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<% include ../views/partials/footer.ejs %>
	</body>
</html>